$myColor: rgb(255,34,6);  //This variable thing is not possible in CSS
$textColor: rgb(234, 156, 22);
header{
    background-color: $myColor;
    button{
        color: $textColor;       // nesting of css
    }
}
p{
    background-color: $myColor;
}
span{
    color: $textColor;
}
