<div class="row">
    <div class="col-sm-8">
        <button type="button" class="btn btn-primary mb-2" routerLink="add"><i class ="fa fa-plus-square" aria-hidden="true"></i></button>
    </div>   
    <div class="col-sm-4">
        <input type="text" name="search" id="" class="form-control" placeholder="Searching Someone..?" [(ngModel)]="term">
    </div>
</div>


<table class="table table-light">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Post</th>
            <th>Salary</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of empData | paginate: { itemsPerPage: count, currentPage: p } | filter:term">
            <td>{{ e.id }}</td>
            <td>{{ e.name }}</td>
            <td>{{ e.post }}</td>
            <td>{{ e.salary }}</td>
            <td>{{ e.address }}</td>
            <td>
                <button type="button" class="btn btn-outline-info"><i class ="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                -
                <button type="button" class="btn btn-outline-danger" (click)="delete(e.id)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            </td>
        </tr>
    </tbody>
</table>

<div class="text-right">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

