<p>pipes works!</p>

<!--CUSTOM PIPES {CREATING OUR OWN PIPE}-->
<hr>
<h4>Custom Pipes</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Contact</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let s of students">
            <td (click)="passId(s.id)">{{ s.id }}</td>
            <td>{{ s.name | gender:s.gender }}</td>
            <td>{{ s.gender }}</td>
            <td>{{ s.address }}</td>
            <td>{{ s.contact }}</td>
        </tr>
    </tbody>
</table>

<div>{{ message }}</div>

<hr>
<!--STRING PIPES-->
<h4>String Pipes</h4>
<div>{{ message | lowercase }}</div>
<div>{{ message | uppercase }}</div>
<div>{{ message | titlecase }}</div>
<div>{{ message | slice: 10:25 | uppercase}}</div>

<!--JSON PIPES-->
<hr>
<h4>JSON Pipes</h4>
<strong>{{emp | json}}</strong>

<!--CURRENCY PIPES-->
<hr>
<h4>Currency Pipes</h4>
<div><strong>{{ price | currency }}</strong></div>
<div><strong>{{ price | currency:"INR" }}</strong></div>
<div><strong>{{ price | currency:"GBP" }}</strong></div>

<!--NUMBER PIPES-->
<hr>
<h4>Number Pipes</h4>
<div>{{ 910 | number }}</div>
<div>{{ 910 | number:'2.2' }}</div>  <!--Before and after decimal places. If we put 5.2 as first number, the output: 00910.00-->
<div>{{ 910 | number:'5.2' }}</div>

<!--DATE PIPES-->
<hr>
<h4>Date Pipes</h4>
<div><strong>{{ myNewDate }}</strong></div>
<div><strong>{{ myNewDate | date }}</strong></div>
<div><strong>{{ myNewDate | date:'shortDate' }}</strong></div>
<div><strong>{{ myNewDate | date:'longDate' }}</strong></div>
<div><strong>{{ myNewDate | date:'mediumDate' }}</strong></div> <!--Same as only date-->



<hr style="height:2px; border-width:0; color:blue; background-color:blue">
<!--Custom pipe named square which will return the square of number we pass-->
<p><strong>Custom pipe: Square</strong></p>
<p><strong>{{ 2 | square }}</strong></p>

<hr style="height:2px; border-width:0; color:blue; background-color:blue">
<!--Custom pipe named areaOfCircle which will return area of the circle as we pass the radius value-->
<p><strong>Custom pipe: areaOfCircle</strong></p>
<p><strong>{{ 7 | areaOfCircle }}</strong></p>