/* <selector>
            {
                property:value;
            } */
            h1
            {
                color:red;
                /* background-color:cornsilk ; */
            }

            body{
                background-color: yellow;
            }
