 #b1
        {
            height:100px;
            width: 100px;
            background-color: aqua;
            border:1px black solid;
            
        }

        #b2
        {
            height:100px;
            width: 100px;
            background-color: aqua;
            border:1px black solid;
            float:right;
            
        }
        #b3
        {
            height:100px;
            width: 100px;
            background-color: aqua;
            border:1px black solid;
            clear:right;
            
        }
        #b4
        {
            height:100px;
            width: 100px;
            background-color: aqua;
            border:1px black solid;
            float: right;
            
            
        }
