<button class="btn btn-primary ms-2" routerLink="data-binding">Data Binding</button>
<button class="btn btn-primary ms-2" routerLink="pipes">Pipes</button>
<button class="btn btn-primary ms-2" routerLink="directives">Directives</button>
<button class="btn btn-primary ms-2" routerLink="parent">Parent</button>
<button class="btn btn-primary ms-2" routerLink="forms">Forms</button>
<button class="btn btn-primary ms-2" routerLink="comp2">Component2</button>
<button class="btn btn-primary ms-2" routerLink="mycolor">My Color</button>
<button class="btn btn-dark ms-2" routerLink="crud">CRUD</button>
<button class="btn btn-danger ms-2" style="float: right"><i class="fa fa-power-off" araia-hidden="true" (click)="logout()"></i></button>


