<div class="container">
    <div class="row mt-2">
        <div class="col col-md-4 offset-md-4">
          <a class="btn btn-primary" routerLink="/items/create">Add New Item</a>
        </div>
      </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Title</th>
          <th scope="col">Quantity</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of allItems">
          <th scope="row">{{ i.id }}</th>
          <td>{{ i.title }}</td>
          <td>{{ i.quantity }}</td>
          <td>
            <a class="btn btn-primary" [routerLink]="['/items/edit', i.id]">📝</a>
            <!-- Edit button registered with 'openDeleteModal()' for click event.-->
            <button type="button" (click)="openDeleteModal(i.id)" class="btn btn-danger m-2">🗑️</button>
        </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Modal -->
  <!--Delete confirmation bootstrap modal, here we have to give 'id' attribute, based on that 'id' attribute we create the bootstrap instance in 'home.component.ts' file.-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Warning!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure to delete the item?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <!--Here 'Confirm Delete' button registered with 'delete()' method for click event.-->
          <button type="button" class="btn btn-danger" (click)="delete()">Confirm Delete</button>
        </div>
      </div>
    </div>
  </div>